body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #f2f3f5;
}

#container {
  width: 770px;
}

#form {
  display: flex;
  flex-direction: column;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #6c04e2;
}

#weekdays div {
  width: 100px;
  margin: 10px;
}
