body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #f2f3f5;
}

.container {
  width: 1200px;
  display: flex;
}

/* form */

#toggleView {
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  background-color: #b291df;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  margin-top: 10px;
}

#toggleView:hover {
  background-color: #a074df;
}

.formContainer {
  width: 400px;
  margin-left: 30px;
}

#form {
  display: flex;
  flex-direction: column;
}

#form h2 {
  margin-top: 20px;
  color: #6c04e2;
}

#form input,
#form select,
#form button,
#form textarea {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px gray;
}

#form textarea {
  resize: none;
}

#form label {
  font-weight: bold;
}

.times {
  display: flex;
  justify-content: space-between;
}

.times div {
  display: flex;
  flex-direction: column;
}

#form button {
  cursor: pointer;
  transition: 0.3s;
  background-color: #b291df;
  color: white;
}

#form button:hover {
  background-color: #a074df;
}

.error {
  border: 2px solid red !important;
}

#errorMessage,
#timeErrorMessage {
  display: none;
  color: red;
  font-size: 18px;
}

/* calander */

#calendarContainer {
  width: 900px;
}

#header {
  width: 96%;
  padding: 5px;
  color: #8d29ff;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#header button {
  background-color: #b291df;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

#header button:hover {
  background-color: #a074df;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #6c04e2;
}

#weekdays div {
  width: 100px;
  margin: 8px;
}
#calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 8px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8dff5 !important;
}

.day + #currentDay {
  font-weight: bold;
  background-color: #ebe6f1;
}

.padding {
  cursor: default !important;
  background-color: #f2f3f5 !important;
  box-shadow: none !important;
}

/* events */

#eventsContainer {
  display: none;
}

#eventsContainer button {
  width: 75px;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
  background-color: #d36c6c;
}

#eventsContainer {
  display: flex;
  flex-direction: column;
}

.singleEvent {
  border: 1px solid gray;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}

/* modals */

#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #f2f3f5;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#closeButton,
#deleteButton {
  width: 75px;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

#closeButton {
  background-color: #d36c6c;
}

#deleteButton {
  background-color: #48cc44;
}

@media (max-width: 1200px) {
  .container {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  #calendarContainer {
    width: 600px;
  }

  #calendar div {
    width: 61px;
    height: 65px;
    margin: 12px;
    padding: 5px;
  }

  #weekdays {
    justify-content: flex-end;
  }

  #weekdays div {
    width: 70px;
    margin: 10px;
  }

  .event {
    font-size: 12px;
    margin: 7px 0px !important;
  }
}

@media (max-width: 600px) {
  #calendarContainer {
    width: 400px;
  }
  #weekdays div {
    font-size: 10px;
  }

  #calendar div {
    width: 35px;
    height: 50px;
    margin: 11px;
    padding: 5px;
  }
  .event {
    font-size: 10px;
    margin: 6px -8px !important;
  }
}
@media (max-width: 400px) {
  #header button {
    font-size: 10px;
    width: 40px;
  }

  #calendarContainer {
    width: 300px;
  }

  #weekdays div {
    font-size: 7px;
    margin: 5px;
  }

  #calendar div {
    width: 25px;
    height: 40 px;
    margin: 8px;
    padding: 5px;
  }

  .day {
    font-size: 10px;
  }
  .event {
    font-size: 9px;
    margin: 3px -8px !important;
  }

  .formContainer {
    width: 300px;
  }
}
